/* regole generali */
*{
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(186, 219, 240);
    font-family: Arial, Helvetica, sans-serif;
    
}
/* regole header */
header{
    background-color: white; 
     
}
#logo{    
    margin-left: 10px;   
    
}
#romboolean{
    vertical-align: middle;
}
#titolo{
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: middle;
    font-size: 60px;
     
}
/* regole main */
main{
    background-color: white;
    background-size: 100%;
    margin-top: 3% ;  
    margin-left: 10%;  
    margin-right: 10%;
    padding-top: 2%;
    padding-left: 5%;
}
/* regole buttons */
button{
    width: 100px;
    height: 40px;
}
#primo-add {
    background-color: rgb(48, 197, 216);
    color: white;
    border-radius: 9999px;
    border-color: rgb(46, 197, 216);
}
#secondo-add{
    background-color: rgb(237, 243, 244);
    color: rgb(113, 103, 103);
    border-radius: 9999px;

}
.macrosezione{
    margin-top: 25px;
}
/* proprietà righe opzionali */
.righe{
    margin-top: 15px;

}
.valid{
    background-color: white;
    border: solid 1px black;
    border-radius: 50%;
    color: green;
    margin-left: 14px;
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-color: green;
    
}
.invalid{
    background-color: white;
    border: solid 1px black;
    border-radius: 50%;
    color: red;
    margin-left: 14px;
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-color: red;
}
.opzioni{
    font-size: 18px;
    margin-left: 14px;
}
/* riquadri */
.riquadro{
    display: inline-block;
    width: 80px;
    height: 30px;
    font-size: 13 px;      
    color: white;
    background-color: rgb(38, 151, 217);
    background-size: 80px;
    border-radius: 9999px;
    text-align: center;
    vertical-align: middle;
    margin-left: 8px; 
    line-height: 30px;   
}
#viola{
    background-color: purple;
}
#hardgreen{
    background-color: green;
}
#orange{
    background-color: orangered;
}
#fuchsia{
    background-color: fuchsia;
}
#lightgreen{
    background-color: rgb(7, 200, 7);
}

